<!-- Start Skills  -->
<section class="full-page pt-30 clearfix" id="automation">
    <div class="automation">
        <div class="container-fluid">
            <div class="skills-wrapper text-center">
                <div class="section-title">
                    <h2>Automation</h2>
                    <div class="border-center"></div>
                </div>
                <div class="row">
                    {% for automation_data in site.data.automation  %}
                    <div class="col-lg-4 col-md-6">
                        <div class="skills-box wow fadeIn text-center">
                            <h5>{{automation_data.title}}</h5>
                            <p>{{automation_data.desc}}</p>
                        </div>
                    </div>
                    {% endfor %}
                   </div>
            </div>
        </div>
    </div>
</section>
<!-- End Skills -->