<!-- Start Services  -->
<section class="full-page clearfix" id="services">
    <div class="services">
        <div class="container-fluid">
            <div class="skills-wrapper text-center">
                <div class="section-title">
                    <h2>Highlighted Automation</h2>
                    <div class="border-center"></div>
                </div>
                <div class="row">
                    {% for services_data in site.data.services  %}
                    <div class="col-lg-4 col-md-6">
                        <div class="skills-box wow fadeIn text-center">
                            <h5>{{services_data.title}}</h5>
                            <p>{{services_data.desc}}</p>
                        </div>
                    </div>
                    {% endfor %}
                   </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services -->