<div class="row">
   {% for work_info in site.data.work_history %}
    <div class="col-md-4 col-sm-12">
        <div class="work-history-wrapper wow fadeIn">
            <h5>{{work_info.title}}</h5>
            <h6>{{work_info.subtitile}}</h6>
            <p>{{work_info.role}}</p>
            <span>{{work_info.year}}</span>
            <p>{{work_info.desc}}</p>
            <br> <br>
            <ul>
                <li style="text-align:left;">Managing AWS Platform/ third party cloud tools across the firm so application team can consume services.</li>
                <li style="text-align:left;">R & D on any new AWS service or third part tools introduced within platform to meet the security standards and document the usage, develop, 
                deploy and release it for wider usage</li>
                <li style="text-align:left;">Automate as much of the platform provisioning as possible, 
                and provide an automation platform to allow application teams to follow similar best practices.</li>
                <li style="text-align:left;">Build a solid foundation that we can deliver additional capability on over time</li>
                <li style="text-align:left;">Build a foundation that could potentially be rolled out to multiple regions over time.</li>
                
            </ul>
        </div>
    </div>
    {% endfor %}
</div>